body {
    background-color: white;
}

#main-nav-bar {
    padding: 0;
}

#ladybugLogo {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

#test {
    font-size: 1.5rem;
}

#fieldset {
    margin: 5% 30%;
}

#submitBtn {
    margin: 2% 0;
}

.btn {
    color: black;
}